html,
body {
  height: 100%;

}

body {
  margin: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: #8367c5;
  color: #1a1a1a;
}

.banner,
h1,
button {
  transition: 0.6s;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background: url("bg.webp");
  background-size: 180%;
  background-position: center;
  transition: 0.5s;
}

.banner h1 {
  font-size: 50px;
  color: #f9f9f9;
}

.banner button {
  padding: 12px 36px;
  border-radius: 50px;
  border: 0;
  background: #221e6f;
  color: #f9f9f9;
  font-size: 18px;
  font-family: inherit;
  box-shadow: 0 0 15px #221e6f;
}

.container {
  background: #ffffff;
  padding: 60px 15%;
  /* box-shadow: 0 0 5px #fff; */
}

h2 {
  font-size: 28px;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #00f;
  background-image: linear-gradient(to right, #ccc, #000, #ccc);
}

hr.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
p{
  text-align: justify;
}

.skill{
  background-color: #fff;
  height: 20px;
  white-space:nowrap;
  /* padding: 5px; */
  /* padding: 10px 20px ; */
  /* transition: all 500ms linear ; */
  font-size: 13px;
  width: fit-content;
  margin-right: 1px;
  /* margin-top: 100px; */
  /* box-shadow: 0 0 3px #ccc; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  /* line-height: normal; */
  /* border: solid 5px transparent; */
  border-radius: 30px;
  cursor: pointer;
}
#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8, #s9, #s0{
  margin-right: 5px;
  /* margin-bottom: 5px; */
  /* margin-top: 5px; */
  cursor: pointer;
  /* border: solid 1px #000; */
  width: 10px;
}
#s1{
  color: #e34c26;
}
#s2{
  color: #264de4;

}
#s3{
  color: #f0db4f;

}
#s4{
  color: #4b8bbe;

}
#s5{
  color: #0078d7;
  
}
#s6{
  color: #68ffa2;
}
#s7{
  color: #b67148;

}
#s8{
  color: crimson;
}
#s9{
  color: #4fccf3;
}
#s0{
  color: #cf4772;
}
.endnote{
  font-size: 10px;
  color: #aaa;

}
a{
  text-decoration: none;
  color: #000;
}
.abt{

}
.social{
  border: none;
  display: flex;
  justify-content: space-around;  
}
#e1, #e2, #e3, #e4, #e5, #e6, #e7, #e8, #e9, #e10, #e11{
  font-size: 16px;
  padding: 3px;
  /* border: solid 0.5px #000; */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;

}
#e1:hover, #e2:hover, #e3:hover, #e4:hover, #e5:hover, #e6:hover, #e7:hover, #e8:hover, #e9:hover, #e10:hover, #e11:hover{
  transform: scale(1.25);
}
#e1{
  color: #221e6f;
}
#e9{
  color: #5865f2;
}
#e10{
  color: #e4e100;
}
#e11{
  color: #0088cc;
}
#e8{
  color: #00acee;
}
#e7{
  color: #3b5998;
}
#e6{
  color: #dd2a7b;
}
#e5{
  color: #f47f24;
}
#e4{
  color: #211f1f;
}
#e3{
  color: #000;

}
#e2{
  color: #0e76a8;
}

.bxn{
 width: 210px;
height: 40px;
color: #fff;
background-color: #221e6f;
border-radius: 20px;
border: none;
  padding: 5px;
font-size: 13px;
  font-family: "Euclid Circular A", "Poppins";
margin-bottom: 30px;


  







  
}
#ext{
  padding-left: 5px;
  
}
